@media (max-width: 768px) {
  .myProject {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .myProject-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .myProject-title img {
    width: 130px;
    margin-right: -20px;
  }
  .myProject-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .myProject-container img {
    width: 100%;
    height: 100%;
  }
  .myProject-showmore {
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
}
