.about-img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-skill {
  display: flex;
  align-items: center;
  transition: 0.3s;
  gap: 50px;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-title img {
    width: 130px;
    right: -20px;
  }
  .about-section {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill hr {
    height: 6px;
  }
}
